@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
    text-align: center;
}

.sampleArrayItem:not(:last-child):after {
    content: ", ";
}

.sampleArrayItem:first-child:before,
.sampleArrayItem:last-child:after {
    content: " ";
}